body{
    /*background-color: cadetblue;*/
    background-image:url(img/bosque.jpg);
    background-attachment: fixed;
}
p {
    font-size: 22px;
    font-family: 'Londrina Solid', cursive;
    color: red;
}
.parrafo {
    font-size: 26px;
    font-family: 'Londrina Solid', cursive;
    color: white;
}
.enfasis{
    font-size: 22px;
    font-family: 'Londrina Solid', cursive;
    color: blanchedalmond;
}

.caja1{
    background-color: yellow;
    width: 1000px;
    padding: 1000px;
}